.homepage {
  background-color: #131313;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.homepage__container {
  position: absolute;
  header {
    font-size: 92px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
  }
}

.homepage__buttons {
  margin-top: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    background-color: rgb(64, 55, 139);
    box-shadow: rgba(255, 255, 255, 0.1) 0px 0px 18px;
    border: none;
    height: 70px;
    width: 25%;
    border-radius: 10px;
    font-size: 32px;
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    transition: background-color 0.15s linear;
    &:hover {
      background-color: rgb(81, 73, 145);
      color: white;
    }
    p {
      line-height: 35px;
    }
  }
}

#back-vid {
  position: absolute;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  opacity: 0.4;
}

@media screen and (max-width: 1000px) {
  .homepage__container {
    header {
      font-size: 64px;
    }
  }
  .homepage__buttons {
    .btn {
      height: 100px;
    }
  }
}

@media screen and (max-width: 530px) {
  .homepage__container {
    header {
      font-size: 40px;
    }
  }
  .homepage__buttons {
    .btn {
      width: 40%;
      font-size: 24px;
    }
  }
}
