.form-container {
  background-color: #1d1d21;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.form-box {
  width: 1000px;
  background-color: #2a2a31;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0px 100px;
  h1 {
    font-size: 42px;
    margin-top: 10px;
  }
  p {
    font-size: 14;
    letter-spacing: -1px;
    color: #a4a4a4;
    span {
      text-decoration: underline;
      color: #1bdfcb;
    }
  }
  h2 {
    font-size: 21px;
    color: #a4a4a4;
    margin-top: 25px;
  }
}

.input-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 4px;
}

.submit-button {
  height: 50px;
  width: 20%;
  background-color: #2ba296;
  border-radius: 10px;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  border: none;
  margin: 30px auto;
  color: inherit;
  cursor: pointer;
  transition: background-color, width 0.3s ease-in-out;
  &:disabled {
    background-color: rgb(21, 85, 79);
  }
  &:hover {
    background-color: rgb(50, 184, 170);
    width: 30%;
    &:disabled {
      background-color: rgb(21, 85, 79);
    }
  }
  span {
    margin-right: 10px;
    line-height: 20px;
  }
}

.form {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.form-error {
  width: 60%;
  background-color: #c97373;
  border-radius: 6px;
  margin: 12px auto 0 auto;
  text-align: center;
  padding: 8px;
  animation: fade-in 0.3s linear forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 700px) {
  .input-section {
    grid-template-columns: 1fr;
  }
  .submit-button {
    width: 60%;
  }
}

@media only screen and (max-width: 500px) {
  .form-box {
    padding: 0px 30px;
    width: 100%;
  }
  .form-container {
    height: auto;
    padding-top: 60px;
  }
}
