.eventPage-container {
  padding-top: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.eventPage-box {
  padding: 30px 80px;
  background-color: #2a2a31;
  width: 1340px;
  color: #f6f2f2;
  font-size: 20px;
}

.box_head {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.head_title-creator {
  margin-top: -12px;
  text-align: center;
  h2 {
    font-size: 40px;
  }
}

.box_description {
  margin-top: 20px;
  color: #888888;
  text-align: center;
}

.box_enroll-button {
  margin: 30px auto 0px auto;
}
