.feed-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.feed-box {
  width: 60%;
  margin-top: 46px;
  padding: 20px 40px;
  background-color: #2a2a31;
}

@media screen and (max-width: 1000px) {
  .feed-box {
    width: 100%;
    padding: 20px 20px;
  }
}
