nav {
  position: absolute;
  width: 100%;
  background-color: rgba(15, 15, 15, 0.85);
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: 500;
  font-size: 24px;
  color: #545454;
  z-index: 1000;
}

.nav__account {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  margin-right: 15px;
  div {
    cursor: pointer;
    transition: color 0.15s linear;
    &:hover {
      color: #ffffff;
    }
  }
}

@media only screen and (max-width: 500px) {
  .nav__account {
    margin: auto;
  }
}
