@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto Mono', sans-serif;
  background-color: #1d1d21;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

button:disabled {
  cursor: default;
}

a {
  text-decoration: none;
  color: inherit;
}

.MuiFilledInput-inputMultiline {
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background-color: #1d726b;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgb(20, 73, 68);
    border-radius: 4px;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
  -webkit-text-fill-color: #fffff2;
  caret-color: white;
  transition: background-color 5000s ease-in-out 0s;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
