@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto Mono', sans-serif;
  background-color: #1d1d21;
}

button {
  cursor: pointer;
  border: none;
}

button:disabled {
  cursor: default;
}

a {
  text-decoration: none;
  color: inherit;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
