.profile-page {
  width: 100%;
  height: 100vh;
  padding-top: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f6f2f2;
}

.profile-card {
  width: 1340px;
  background-color: #2a2a31;
  padding: 40px 80px;
}

.info {
  display: flex;
  justify-content: space-between;
}

.profile-info {
  width: 830px;
  p {
    margin-top: 20px;
    margin-left: 1px;
    color: #888888;
  }
  h3 {
    margin-left: 1px;
  }
}

.profile-avatar {
  background-color: #3a3a44;
  width: 280px;
  height: 280px;
}

.profile__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -8px;
  .head__location {
    font-size: 20px;
  }

  .head__username {
    font-size: 32px;
  }
}

.badge-section {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.badge {
  width: 25%;
  background-color: #24242a;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: #4eb967;
  font-weight: 600;
  letter-spacing: 1px;
}

.comments {
  margin-top: 25px;
  color: #656682;
  h4 {
    font-size: 20px;
  }
}

.comments_block {
  margin-top: 10px;
  padding: 10px 20px 20px 20px;
  border-top: #5a5d7d 1px solid;
  display: flex;
  flex-direction: column;
  max-height: 400px;
  overflow-y: auto;
}

.comment {
  margin-top: 10px;
  display: flex;
}

.comment_avatar {
  background-color: #3a3a44;
  width: 80px;
  height: 80px;
  margin-top: 6px;
}

.comment-content {
  width: 950px;
  margin-left: 20px;
  h5 {
    margin-top: 4px;
    font-size: 18px;
  }
  p {
    font-size: 16px;
    color: #f6f2f2;
  }
}
